.info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.info-nav-link{
    font-size: medium;
}

.info-text {
    font-size: small;
}

.info-location{
    font-size: 0.90rem;
}